/*Fuentes*/

@font-face{
    font-family: "lokicola";
    src: url(../assets/fonts/loki_cola/LOKICOLA.TTF);
}

@font-face{
    font-family: "magazine";
    src: url(../assets/fonts/magazine_letter/MagazineLetterByBrntlbrnl-Regular.ttf);
}

@font-face{
    font-family: "omelette";
    src: url(../assets/fonts/omelette/Omelette.otf);
}

@font-face{
    font-family: "sunday";
    src: url(../assets/fonts/sunday/SUNDAY.ttf);
}